@model LabDay4MVC.Models.LogIn
@{
    ViewBag.Title = "LogIn";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form method="post">
    <table class="table table-responsive text-center">
        <tr>
            <td>@Html.LabelFor(n => n.Email)</td>
            <td>@Html.TextBoxFor(n => n.Email)</td>
            <td>@Html.ValidationMessageFor(n => n.Email)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(n => n.Password)</td>
            <td>@Html.PasswordFor(n => n.Password)</td>
            <td>@Html.ValidationMessageFor(n => n.Password)</td>
        </tr>
        <tr>
            <td></td>
            <td>@Html.CheckBox("remeber") remeber me</td>
            <td></td>
        </tr>
        <tr>
            <td><input type="submit" value="LogIn" class="btn btn-primary" /></td>
            <td>
                @if (ViewBag.mess != null)
                {
                    @ViewBag.mess;
                }
        </td>
    </tr>
    </table>
</form>
